{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./",
          "~components": "./components",
          "~lib": "./lib",
          "~modules": "./modules",
          "~spaces": "./spaces",
          "~flows": "./flows",
          "~hooks": "./hooks",
          "@solid/lit-pod": "@itme/lit-pod"
        }
      }
    ]
  ]
}
