@tailwind base;

/* Write your own custom base styles here */

a {
    @apply text-ocean;
}

a:hover {
    @apply underline bg-mist;
}

a:visited {
    @apply text-passionflower;
}

a:active {
    @apply text-passionflower;
}

.a {
    @apply text-ocean bg-transparent;
}

.a:hover {
    @apply underline bg-mist;
}

.a:active {
    @apply text-passionflower;
}

blockquote {
    @apply m-2 p-2 bg-gray-100 border-l-2 border-gray-400 text-gray-600 ;
}

p {
    @apply text-lg;
}

input[type="text"] {
    @apply rounded-xl;
}

input[type="text"]:focus {
    @apply outline-none border-lagoon ring-1 ring-offset-1 ring-lagoon-light ring-offset-lagoon;
}

body {
    @apply font-normal text-lg text-night;
}

b, strong {
    @apply font-bold;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

.tab-btn {
    @apply text-xl rounded-lg p-3;
}

.tab-btn:focus {
    @apply outline-none;
}


.tab-btn.active {
    @apply bg-gray-200;
}

.image-icon:hover {
    @apply text-gray-500 cursor-pointer;
}

.page {
    @apply text-gray-700 h-screen overflow-y-scroll px-6 pb-12;
}

.btn {
    @apply mx-2 rounded-xl border-none drop-shadow-lg shadow-lg px-4 py-2 bg-echeveria text-base font-medium text-snow;
}

.btn:hover {
  @apply outline-none ring-2 ring-offset-2 ring-echeveria-dark ring-offset-echeveria-light bg-echeveria-dark;
}

.btn:focus {
  @apply outline-none ring-2 ring-offset-2 ring-echeveria ring-offset-echeveria-light;
}

.btn:active {
  @apply outline-none ring-inset ring-2 ring-offset-0 ring-echeveria
}

.destructive {
  @apply bg-ember;
}

.destructive:hover {
  @apply ring-ember-dark ring-offset-ember-light bg-ember-dark;
}

.destructive:focus {
  @apply ring-ember ring-offset-ember-light;
}

.destructive:active {
  @apply ring-ember
}

.cancel {
  @apply bg-fog;
}

.cancel:hover {
  @apply ring-storm ring-offset-mist bg-storm;
}

.cancel:focus {
  @apply ring-fog ring-offset-mist;
}

.cancel:active {
  @apply ring-fog;
}

.block {
  @apply relative pl-4 border-b-2 border-transparent;
}

.block.is-over {
  @apply border-blue-300;
}

.block-sidebar-button {
  @apply inline-flex items-center border border-transparent text-gray-500 rounded-full invisible;
}

.block:hover .block-sidebar-button {
  @apply visible;
}

.block-sidebar-button:hover {
  @apply bg-gray-500 text-white visible;
}
.block-sidebar-button:focus {
  @apply outline-none;
}

.ReactModal__Overlay {
  @apply z-40;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.gradient-passionflower {
    @apply bg-gradient-to-tr from-lagoon via-passionflower to-passionflower;
}

.gradient-amethyst {
    @apply bg-gradient-to-tr from-aquamarine via-amethyst to-amethyst;
}

.gradient-echeveria {
    @apply bg-gradient-to-tr from-aloe via-echeveria to-echeveria;
}

.gradient-lagoon {
    @apply bg-gradient-to-tr from-echeveria via-lagoon to-lagoon;
}

.gradient-chanterelle {
    @apply bg-gradient-to-tr from-echeveria via-chanterelle to-chanterelle;
}

.gradient-ember {
    @apply bg-gradient-to-tr from-chanterelle via-ember to-ember;
}

.gradient-salmon {
    @apply bg-gradient-to-tr from-passionflower via-salmon to-salmon;
}

h1.font-logo {
    @apply text-passionflower drop-shadow-lg;
}

h2.font-logo {
    @apply text-echeveria drop-shadow-lg;
}

/* slate editor -- classes assigned automatically by Plate */
.slate-h1 {
  @apply text-3xl;
}

.slate-h2 {
  @apply text-2xl;
}

.slate-h3 {
  @apply text-xl;
}

.slate-ul {
  @apply list-disc list-outside font-normal text-base;
}

.slate-ol {
  @apply list-decimal list-outside font-normal text-base;
}

.slate-p {
  @apply font-normal text-base;
}
